<% var title = page && page.title ? "General Working Group:" +page.title : "General Working Group" %>
<% include head.ejs %>
<% include menu.ejs %>

<div id="logo"></div>
<div class="slides">
<div class="images">
   <% if (page.resources && page.resources.length != 0) { %>
        <!-- <img src="<%=resource_basepath%>/w_50,h_50,c_fit/<%= page.resources[0].meta.public_id%>.jpg"/><br> -->
   <% }%>
</div>
<div class="info"><% if (page.resources && page.resources.length != 0) { %><%- page.resources[0].description %><% }%></div>
<div class="text">
    <%- page.description %>
</div>
</div>

<% include foot.ejs %>

<script>
    var bp = "<%= resource_basepath %>";
    if (document.location.pathname != '/') {
        var idx = function () {
            var i = Number(window.location.hash.substring(1));
            if (isNaN(i)) i = 0;
            return i;
        };
        var ss = slideshow($(".images"),
                <%- JSON.stringify(page.resources) %>,
                {xOffset: 20, yOffset: 20, widthDelta: 100, heightDelta: 200,
                    $info: $(".info"), index: idx()});
        $(window).on('hashchange', function() {
          ss.goto(idx())
        });
    }
    function navigate_next(){
        document.location.href = "<%=next_page.url%>";
    }
</script>













